

<div data-role="header">


<p> Glycemic Index</p>


  <!-- end .header --></div>



<div data-role="content" data-theme="b" data-transition= "flip" >

  <ul data-role="listview" data-filter="true" data-inset="true" data-theme="e">
    <li> <h1>Food Glycemic Index App</h1></li>
    <li> This app enables users to search for Glycemic Index of foods. </li>


 </ul>



  <!-- end .content --></div>
